name: VK Classifier CI/CD

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: self-hosted
    
    steps:
    # - name: Free Disk Space
    #   uses: jlumbroso/free-disk-space@v1.3.1
    #   with:
    #     tool-cache: false
    #     android: true
    #     dotnet: true
    #     haskell: true
    #     large-packages: true
    #     docker-images: true # Можно включить true, если качаете свои
    #     swap-storage: true

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      env:
        RUNNER_TOOL_CACHE: /Users/vladm/actions-runner/_work/_tool
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        pip install poetry dvc[s3]
        poetry install --no-interaction --no-ansi --no-root

    - name: DVC Pull (Download Data & Models)
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        MLFLOW_S3_ENDPOINT_URL: ${{ secrets.MLFLOW_S3_ENDPOINT_URL }}
      run: |
        # Настраиваем dvc remote (если он не в гите) или просто используем конфиг
        # dvc remote modify myremote access_key_id ... (обычно dvc pull берет из env)
        dvc pull

    - name: Build Docker Images
      run: |
        docker compose build

    - name: Run Integration Test (Start Services)
      run: |
        docker compose up -d
        
        echo "Waiting for services..."
        sleep 20 # Ждем инициализации
        
        # Проверяем статус контейнеров
        docker compose ps
        
        # Проверяем health check приложения
        curl --fail http://localhost:8080/health || exit 1
        
        # Можно даже сделать тестовый запрос
        curl -X POST "http://localhost:8080/predict" \
             -H "Content-Type: application/json" \
             -d '{"text": "Тестовый полет на самолете"}'

    - name: Cleanup
      if: always()
      run: docker compose down
